/*
 * CSS Grid Masonry styles for Reveal.js
 */

.reveal .masonry {
  display: grid;
  margin: 0;
}

.reveal .masonry-item {
  overflow: hidden;
}

.reveal .masonry-item img,
.reveal .masonry-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
